.col-md-8.mx-auto
  %h3.text-center= @event.name
  %table.table.table-hover
    %tbody
      %tr
        %td.text-right.text-secondary date:
        %td= @event.date
      %tr
        %td.text-right.text-secondary start time:
        %td= @event.start_event.strftime('%R')
      %tr
        %td.text-right.text-secondary end time:
        %td= @event.end_event.strftime('%R')
      %tr
        %td.text-right.text-secondary description:
        %td= @event.description
      %tr
        %td.text-right.text-secondary location:
        %td= @event.location
      %tr
        %td.text-right.text-secondary organizer:
        %td
          = link_to @event.created_by.name, user_path(@event.created_by)
      %tr
        %td.text-right.text-secondary invited users:
        %td
          %ul
            - @event.users.each do |user|
              - unless user == @event.created_by
                %li= link_to user.name, user
  - if current_user == @event.created_by
    = link_to 'Edit', edit_event_path(@event), class: 'btn btn-outline-success'
    = link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger'
  %br
  = link_to '<< Back', :back, class: 'btn btn-light mt-2'
